name: Build Static Site

on:
  push:
    branches:
      - release
      - main
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  determine-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ github.ref == 'refs/heads/release' && 'release' || github.ref == 'refs/heads/main' && 'staging'}}
    steps:
      - name: Determine environment
        run: echo "environment=${{ github.ref == 'refs/heads/release' && 'release' || github.ref == 'refs/heads/main' && 'staging'}}" >> $GITHUB_OUTPUT
      - name: Debug environment
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "Skipping pages deployment for main branch as it is not supported yet"

  deploy:
    needs: determine-environment
    environment:
      name: ${{ needs.determine-environment.outputs.environment }}
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    if: ${{ needs.determine-environment.outputs.environment == 'release'  }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Configure GitHub Package Registry
        run: |
          echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> .npmrc
          echo "@salut-mercado:registry=https://npm.pkg.github.com/" >> .npmrc
        env:
          NODE_AUTH_TOKEN: ${{ env.NODE_AUTH_TOKEN|| secrets.AUTH_TOKEN }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.20.0
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Cleanup auth files
        run: rm -f .npmrc
      - name: Build
        run: pnpm build
        env:
          VITE_API_URL: ${{ vars.VITE_API_URL }}
      - name: Copy 404.html for SPA routing
        run: cp 404.html dist/
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./dist"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
